<section id="contact">

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>ILETISIM</h5>
			<h1>Öneri ve istekleriniz için aşağıdaki formu doldurabilirsiniz.</h1>

		</div>
	</div> <!-- /section-intro -->

	<div class="row contact-form">

		<div class="col-twelve">

			<!-- form -->
			<form name="contactForm" id="contactForm" method="post" action="">
				<fieldset>

					<div class="form-field">
						<input name="contactName" type="text" id="contactName" placeholder="Ad" value="" minlength="2" required="">
					</div>
					<div class="form-field">
						<input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
					</div>
					<div class="form-field">
						<input name="contactSubject" type="text" id="contactSubject" placeholder="Konu" value="">
					</div>
					<div class="form-field">
						<textarea name="contactMessage" id="contactMessage" placeholder="Mesaj" rows="10" cols="50" required=""></textarea>
					</div>
					<div class="form-field">
						<button class="submitform">Kaydet</button>
						<div id="submit-loader">
							<div class="text-loader">Gönderiliyor...</div>
							<div class="s-loader">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
					</div>

				</fieldset>
			</form> <!-- Form End -->
			<!-- contact-warning -->
			<div id="message-warning">
			</div>
			<!-- contact-success -->
			<div id="message-success">
				<i class="fa fa-check"></i>Mesajınız iletildi!<br>
			</div>

		</div> <!-- /col-twelve -->

	</div> <!-- /contact-form -->
	<!-- /contact-info -->

</section>
